<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Events</h1>
    </header>
    <section id="events">
      <h2>Events in Action</h2>

      <button @click="add(5)">Add</button>

      <button @click="reduce(5)">Remove</button>

      <p>Result: {{ counter }}</p>

      <input
        type="text"
        placeholder="Just name"
        v-model="name"
        style="
          display: block;
          margin: auto;
          justify-content: center;
          align-items: center;
          margin: 5px auto;
        "
      />
      <input
        type="text"
        placeholder="Last name"
        v-model="lastName"
        style="
          display: block;
          margin: auto;
          justify-content: center;
          align-items: center;
          margin: 5px auto;
        "
      />
      <!-- Reset Button Design -->
      <button @click="resetInput" style="margin: 10px auto">Reset</button>
      <!-- this fullName is the computed method -->
      <p>Your Name: {{ fullName }}</p>
    </section>
  </body>
</html>
